body{
    background-image: url(1_t4mZ7OXJHyu3U2KqcsTeFw.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.paragraph {
    font-size: 35px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: floralwhite;
    font-family: monospace;
    
}

.links {
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
    font-family: monospace;
    
}
a:link{
    background-color: floralwhite;
}
a:hover{
    background-color: darksalmon;
}